# Base de datos (Local Docker PostgreSQL)
DATABASE_URL="postgresql://creations:password@localhost:5432/creations?schema=public"

# Autenticación (Admin panel)
ADMIN_PASSWORD="creations_development_password"
SESSION_SECRET="change_me_to_a_random_32_character_string_in_production"

# Cloudflare R2 (Almacenamiento de imágenes)
R2_ACCOUNT_ID="your_cloudflare_account_id"
R2_ACCESS_KEY_ID="your_r2_access_key_id"
R2_SECRET_ACCESS_KEY="your_r2_secret_access_key"
R2_BUCKET_NAME="creations-images"
R2_PUBLIC_URL="https://img-creations.adogrz.com"

# Contacto (Utilizadas únicamente para el SEED inicial)
NEXT_PUBLIC_WHATSAPP_NUMBER="50376772999"
NEXT_PUBLIC_MESSENGER_HANDLE="creaciones1.sv"
NEXT_PUBLIC_INSTAGRAM_HANDLE="creations.sv_"

# Url de la aplicación (para redirecciones absolutas y mensajes pre-llenados)
NEXT_PUBLIC_BASE_URL="http://localhost:3000"
